@media(max-width:767.98px){
    .container{
        width: auto !important;
    }
    .heading{
        justify-content: center;
    }
    nav{
        display: none;
    }
    #banner{
        height: 550px;
        margin-bottom: 20px;
    }
    .main h2 {
        font-size: 58px;
        line-height: 54px;
        width: auto;
        text-align: center;
    }
    .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .main p{
        width: auto;
        text-align: center;
    }
    .main a{
        text-align: center;
        display: inline-block;
    }

    #services{
        padding: 0;
    }
    .services__card{
        margin: 8px auto;
        height: 150px;
    }
    .services__card a{
        padding-top: 0;
        font-size: 40px;
    }
    .services__card h4{
        padding: 0;
    }
    #fruit-item{
        margin: 0 auto;
    }
    .featured__heading h3{
        font-size: 24px;
    }
    .featured__card_img img{
        width: 100%;
    }
    .featured__card_img ul{
        display: none;
    }
    /* health part start  */
    .health__banner_heading{
        text-align: center;
    }
     
    .health__banner_heading{
        padding: 32px 24px;
    }
    .health__banner_heading h2{
        font-size: 30px;
    }
    .health__banner_heading a{
        font-size: 14px;
        padding: 14px 40px;
    }
    /* health part end  */

    /* Product part start  */
    .product__heading{
        padding: 16px 0;
    }
    .product__heading ul{
        display: none;
    }
    .featured__card_shadw{
        display: none;
    }
    .featured__card{
        margin: 6px auto;
    }

    /* Product part end  */


    /* deal part start  */
    .deal__main{
        display: block;
    }
    .deal__main ul {
        justify-content: space-between;
        padding: 0;
        margin: 32px 0;
    }
    .deal__main ul li{
        margin: 0;
    }

    /* deal part end  */


    /* featured part start  */
    .featured__heading{
        padding: 32px 0;
    }
    .featured__card_shadw{
        display: none;
    }

    /* featured part end  */


    /* testimonial part start  */
    .testimonial__heading{
        align-items: center;
    }
    .testomonial__right{
        padding: 0;
    }
    .testimonial__left{
        height: auto;
        margin-bottom: 24px;
    }
    /* testimonial part end  */

    #testimonial{
        /* display: none; */
    }
    #blogs{
        display: none;
    }
    footer{
        display: none;
    }

}
@media(min-width:768px) and (max-width:991.98px){


}
@media(min-width:992px) and (max-width:1199.98px){


}