/* common style start  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.olive-green{
    color: #477018 !important;
}
/* common style end  */


/* navbar part start */
header{
    
    background-color: #477018;
}
.heading{
    color: white;
    height: 50px;
    display: flex;
    align-items: center;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav .manu-bar{
    display: flex;
    align-items: center;
}
nav .manu-bar li {
    padding: 0 34px;    
}
nav .logo ul{
    display: flex;
    align-items: center;
}
nav .logo ul li {
    padding: 0 6px;
}
nav .logo ul li a {
    color: black;
}
/* navbar part end  */


/* banner part start */
#banner{
    background: url(../images/banner.png), no-repeat center;
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
    margin-bottom: 75px ;
}
.main h2{
    width: 550px;
    font-size: 75px;
    font-weight: 700;
    line-height: 91px;
    padding-top: 132px;
}
.main h2 span{
    color: rgba(244, 118, 6, 1);
}
.main p{
    width: 402px;
    padding: 20px 0 30px 0;
    color: #676767;
    line-height: 28px;
}
.main a{
    background-color: #477018;
    padding: 14px 50px;
    border-radius: 10px;
    color: white;
}
/* banner part end */


/* services part start */
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    text-align: center;
    width: 267px;
    height: 320px;
    border: 0.5px solid #C9C9C9;
    border-radius: 25px;
    margin: 75px auto;
}
.card i{
    color: #F47606 ;
}
.card a{
    color: #F47606;
    font-size: 51px;
    margin: 0 auto;
    padding-top: 80px ;
}
.card h4{
    padding-top: 30px;
    font-size: 25px;
}
.card p{
    font-size: 14px;
    color: #676767;
}
                               




/* services part end */